* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container .logo {
  font-weight: bold;
  color: aliceblue;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.navbar .container {
  background: #1f2937;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 40%;
}

h1 {
  margin-bottom: 10px;
}

p {
  letter-spacing: 1px;
}

button {
  border-radius: 12px;
  padding: 10px;
  margin-top: 10px;
  background: #3882f6;
  color: #fff;
  border: transparent;
}
.header .container {
  display: flex;
  background: #1f2937;
  color: #fff;
  padding-top: 0px;
  padding-bottom: 40px;
  justify-content: space-around;
}

.information-header {
  font-size: 36px;
  color: #1f2937;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.boxes {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0 90px 0;
}

.box {
  width: 220px;
  height: 220px;
}

.box .subtext {
  margin-bottom: 40px;
  text-align: center;
}

.box img {
  margin: 10px;
  width: 200px;
  height: 200px;
}

.information {
  width: 50%;
}
.section .text {
  display: flex;
}

.footer {
  background: #1f2937;
  color: #fff;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

ul {
  list-style-type: none;
}

.lists a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

img {
  height: 400px;
  width: 400px;
}

.footer .created {
  display: flex;
  padding: 20px;
  align-items: flex-end;
  justify-content: space-between;
}

.created img {
  width: 30px;
  height: 30px;
}
